body{
   /** background-color: #aaa;**/
}

div#parent{
    height: 930px;
    background: url('/home/ismail/repos/Landing Page/images/man.jpg') no-repeat; 
    background-size: contain;
    background-position-y: -20px;
}

div#parent header{
    padding:20px 0px;
    }
div#parent header .logo h1{
color: rgb(243, 95, 10);
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 22px;
    }
    

div#parent header nav{
float:right;
}

div#parent header nav ul li{
float:left;
list-style:none;
}

div#parent header nav ul li a{
display:block;
color:rgb(58, 52, 52);
font-family: 'Times New Roman', Times, serif;
text-decoration: none;
font-size: 18px;
/**font-weight:700;**/
padding-right:40px;
}

div#parent section{
    position:relative;
    top:120px;
}
div#parent section .title{
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
}
div#parent section .title h4{
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: lighter;
}
div#parent section .content{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
div#parent section .content h4{
    margin-bottom: 10px;
    color:rgb(243, 95, 10);

    }
div#parent section .title h1{

    font-size: 90px;
    font-weight: 900;
    margin-top: 15px;
    line-height: 50px;
}
div#parent section .content p{
    font-size: 17px;
    margin-top: 0px;
    font-weight:500;
    padding-right:10px;
}


div#parent section .links{
    font-size: 30px;
}
div#parent section .links .lab.la-youtube{
color:red;
}
div#parent section aside{
    transform-origin: right;
    transform: rotate(90deg);
    position:relative;
    top:600px;
}
div#parent section aside ul li{
    display:inline-block;
    margin-left:-50px;
    margin-right:100px;
    }
    div#parent section aside ul li a{
    color:rgb(58, 52, 52);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 18px;
        }  
        
    div#parent footer {
        position:relative;
        top:250px;
    }
    
    




